<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741299256918-d780i7ka35rb9es91gaahlur71mrh6d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741299256918-d780i7ka35rb9es91gaahlur71mrh6d2</string>
	<key>API_KEY</key>
	<string>AIzaSyCuXuHdCNq1dYOSoEu9OBqJ_-Jwvs_VPb8</string>
	<key>GCM_SENDER_ID</key>
	<string>741299256918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundooNotesApp</string>
	<key>PROJECT_ID</key>
	<string>fundoo-notes-d9ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>fundoo-notes-d9ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741299256918:ios:1a4bb6e10860a19bb045f7</string>
</dict>
</plist>